<footer>
	<div id="footer-left">
		<a href="mailto:etash@gatech.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/etash-guha-00097116a/"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/etashguha"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		Credit to Fred Hohman for the website design.
	</div>
	<div id="footer-right">
		Etash Guha is a PhD student at Stanford University.
	</div>
</footer>
